
.blue{
  background-color: #80dfff;
}

.red{
  background-color: #f43d25;
}
.orange{
  background-color: #ffa64d;

}
.pink{
  background-color: #ffb3da;
}
.yellow{
  background-color: #fff;
}

.wrapper-90{
  width: 90%;
  margin: 0 auto;
}

.wrapper-100{
  width: 100%;
}

/*404 Styles */
.page-not-found{
  padding: 5%;
}


.page-not-found h1{
  min-width: 100%;
}

.page-not-found>*{
  text-align: center;
  margin: 0 auto;
  display: block;
}

.char-quote{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.return-link{
  text-align: center;
  width: fit-content;
  padding: .5rem 1rem;
  font-weight: bold;
  margin-top: 1rem;
}


/* NAVIGATION STYLES */
h1,h2,h3,h4,h5,h6{
  font-family: 'Staatliches', sans-serif;
  font-style: normal;  text-transform: uppercase;
  font-weight: lighter;
}


header{
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 100px;
}

header h2,
header p,
.header-link{
  color: #fff;
}

header h2{
  margin: 0;
  font-size: 2rem;
}

header p{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
}
.header-homepage-link{
  display: block;
}

.header-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size:.75rem;
  width: 100%;
  height: auto;
  display: block;
  padding: 1rem;
  transition: ease-in-out .2s all;
}

.header-submenu li:nth-child(odd){
  border-bottom:#fff;
  
}

.header-link:hover{
  background-color: rgba(255, 255, 255, 0.15);
  transition: ease-in-out .2s all;
}

#menu-icon{
  color:white;
  display: flex;
  font-size: 3rem;
}

.header-submenu,
.header-nav input{
  display: none;
  
}

.header-submenu{
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(16px) saturate(180%);
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,.125));
}

header label {
  position: relative;
  display: block;
  cursor: pointer;
}

input:checked~ul.header-submenu {
  display: block;
  position: absolute;
  top:100px;
  right:0;
  left:0;
  z-index: 3;
}

/* FOOTER STYLES */

footer{
  background-color:#d3d3d3;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  padding: 1rem;
}

.footer-link:hover{
  text-decoration: underline;
}

.footer-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

/* HERO IMAGE */

.main-banner{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: url(../images/site/firestarter/glaree.jpg);
  background-size: contain;
  height: 480px;

}

.banner-image{
  grid-column: 1/2;
  grid-row: 1/3;
  height: 480px;
  object-fit: scale-down;
}
.banner-content{
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 1;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%); 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color:#fff;
  padding: 0 1.5rem;
}

.banner-headline{
  font-size: 3rem;
}

.banner-subhead{
  font-family: 'Roboto',sans-serif;
  font-size: 1rem;
  text-transform: initial;
}

.banner-category,
.blog-link-button,
.fs-tag{
  color:#000;
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  padding:.25rem .5rem;
}

.blog-link-button{
  display: inline-block;
  width: fit-content;
  margin: 1rem auto;
  font-family: 'Staatliches', sans-serif;
  transition: ease-in-out .2s all;
}

.blog-link-button:hover,
.comic-preview-link:hover{
  transform: scale(1.1);
  text-decoration: underline;
  transition: ease-in-out .2s all;
}

/* MAIN INDEX NEWS */

.section-header{
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0 1.5rem 0;
  text-decoration: underline;
}

.blog-preview-list{
  max-width: 1500px;
  margin: 0 auto;

}

.blog-index-list{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-index-preview{
  /* background-color: #80dfff; */
  max-width: 500px;
  background-color: #1f1f1f;
  margin: 1rem 0;
  filter:drop-shadow(3px 3px 4px #7c7c7c);
}

.blog-index-preview-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height:280px;
  color:#fff;
  padding: 1rem 1.5rem;
}
.blog-index-preview-title{
  font-size: 2rem;
  text-align: center;
}
.blog-index-preview-description p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: hidden;
}
.blog-index-preview-description{
  overflow: hidden;
}

/* COMIC PREVIEWS */

.comics-preview-list{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  gap:1rem;
  max-width: 1500px;
  margin: 0 auto;
}

.comic-preview-item{
  max-width: 450px;
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.comic-preview-content{
  color:#fff;
  position: absolute;
  bottom:0;
  height: 25%;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:.5rem;
  padding: 1rem 1rem 2rem 1rem;
}
.comic-preview-content>*{
  font-family: 'Roboto', sans-serif;
}

.comic-preview-link,
.reader-next-button{
  background-color: rgba(255, 255, 255, 0.75);
  color:#000;
  width: fit-content;
  margin: 0 auto;
  padding:.3rem 1rem .25rem 1rem;
  border-radius: 5px;
  transition: ease-in-out .2s all;
  text-transform: uppercase;
  font-family: 'Staatliches', sans-serif;
  z-index: 2;
}

.comic-preview-link-full{
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: 1;
}

/* COMIC READER */

.reader{
  background-color: #000;
}

.chapter-dropdown{
  position: relative;
  display: inline-block;
}

.chapter-dropdown>*{
  min-width: 300px;
}

.collapse-list li{
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  border-left: solid 3px #fff;
  border-right: solid 3px #fff;
  padding: .5rem 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size:.75rem;
  transition: ease-in-out .2s all;
}

.collapse-list li:last-child{
  border-radius: 0 0 5px 5px;
  border-bottom: solid 3px white;

}

.list-open{
  display: block;
}

.list-closed{
  display: none;
}

.collapse-list{
  position: absolute;
  top:100%;
  left:0;
  right:0;
  background-color: #000;
}

.collapse-list a{
  color:#fff;
  display: block;
}

.reader-info-main{
  color:#fff;
  margin: 0 auto;
  text-align: center;
}

.reader-image-list img{
  margin: 0 auto;
  max-width: 1200px;
  display: block;
}

.reader-next-button{
  margin: 0 auto;
  display: block;
}

.chapter-dropdown-button{
  border: solid 3px white;
  border-radius: 5px 5px 0 0;
  padding: .5rem 1rem;
  background: none;
  color:#fff;
  font-family: 'Staatliches', sans-serif;
  font-size:1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: ease-in-out .2s all;
}

.chapter-dropdown-button:hover,
.collapse-list li:hover{
  background-color: #757575;
  cursor: pointer;
  transition: ease-in-out .2s all;
}

.dropdown-icon{
  font-size: 1rem;
  margin-left: .5rem;
  transition: ease-in-out .2s all;
}

.dropdown-icon-open{
  transform: rotate(180deg);
  transition: ease-in-out .2s all;
}

/* GALLERY STYLES */

.gallery-group-grid{
  display: flex;
  gap:1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-group-item{
  position: relative;
  height: 450px;
  width: 450px;
  background: rgb(0,0,0);
}

.gallery-group-image{
  height: 450px;
  width: 450px;
  object-fit: cover;
}

.gallery-group-tile{
  position:relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom:1rem;
}

.gallery-group-tile-image{
}
.gallery-group-tile-title{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.451);
  transition:ease-in-out .2s all;
}

.gallery-group-link{
  display: block;
  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 1;
}

.gallery-group-tile:hover>.gallery-group-tile-title{
  background: none;
  transition:ease-in-out .2s all;
}

.gallery-group-tile-title h2{
  font-size: 3rem;
  color: #fff;
}

.gallery-group-tile-title h3{
  color:#fff;
}

.gallery-group-item-tagline{
  display: block;
  width: 100%;
  position: absolute;
  bottom:0;
  text-align: center;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  padding:4rem 1rem 1rem 1rem;
  color:#fff;
  transition: ease-in-out .2s all;

}

.gallery-group-item:hover>h3{
  padding: 2rem 1rem 1rem 1rem;
  transition: ease-in-out .2s all;
}

.gallery-showcase{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.gallery-showcase-info{
  max-width: 1200px;
  text-align:center;
  margin: 1.5rem 0;
}

/* COMIC LIST */

.comic-list{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  background-color: #000000;
  color:#fff;
}

.comic-list-preview{
  width: 100%;
  min-width: 440px;
  max-width: 600px;
  background: rgb(43, 43, 43);
  background: linear-gradient(145deg, rgba(43,43,43,1) 0%, rgba(255,255,255,.15) 100%);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.comic-list-main{
  display: flex;
  align-items: end;
  gap:10px;
  position: relative;
  padding-bottom: .5rem;
  border-bottom: 1px solid #757575;
  width: 100%;
  align-self: flex-start;
}

.comic-list-main h2{
  font-size: 2.25rem;
}

.comic-list-main img{
  max-width: 300px;
  width:50%;
  border-radius: 5px 0 0 0;
  min-width: 166px;
}

.comic-list p,
.comic-list span{
  font-family: 'Roboto', sans-serif;
}

.comic-list span{
  opacity: .6;
  margin-right: .5rem;
}

.comic-list-desc{
  padding: .5rem 1rem;
  margin-bottom: 1rem;
}

.comic-list-excerpt{
  margin-bottom: 1rem;
}

.comic-list-link{
  display: block;
  font-family: 'Staatliches', sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  color:#fff;
  padding: .5rem;
  border: solid 1px #757575;
  align-self: flex-end;
}
.comic-list-link:hover{
  background: #464646;
}

/* CHAPTER PREVIEW LIST */
.chapter-preview-list{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin:0 auto;
  gap:1rem;
  padding:0 1rem;
}

.black-wrapper-100{
}

.chapter-preview{
  display: flex;
  background-color: #2b2b2b;
  color:#fff;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  gap:1rem;
  transition: ease-in-out .2s all;
  max-width: 850px;
}

.chapter-preview>svg{
  font-size: 3rem;
  transition: ease-in-out .2s all;
}

.chapter-preview:hover>svg{
  transform: translateX(10px);
  transition: ease-in-out .2s all;
}

.chapter-preview-list h1{
  margin-top:1rem;
}

.chapter-preview:hover{
  transition: ease-in-out .2s all;
  background-color: #454545;
}

.comic-overview-banner{
  max-height: 500px;
  overflow: hidden;
}

.comic-overview-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

/* FiresTarter Styles */

.fs-intro>*,
.fs-footer-content>*,
.fs-chapter>*{
  font-family: "franklin-gothic-atf", sans-serif;

}
.hero-banner{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.banner-image{
  grid-column: 1;
  grid-row: 1 /span 2;
}

.hero-banner-info{
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  gap:15px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%); 
}

.hero-banner-btn{
  border:none;
  background-color:hsla(7, 90%, 47%, 0.75);
  text-decoration: none;
  padding:.5rem 1rem;
  font-family: "franklin-gothic-atf", sans-serif;
  border-radius: 5px;;
}

.hero-banner-btn:hover{
  background-color:#e6260c;
}

.hero-banner-btn a{
  color: #ffebeb;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.fs-icon{
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.hero-banner-text{
  width: 100%;
  text-align: center;
  font-family: "franklin-gothic-atf", sans-serif;
  color: #fff;
}

.firestarter-info{
  border: solid pink 1px;
}

.fs-intro h1,
.fs-characters h2{
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 600;
  margin-top: 1.5rem;
}

.fs-description,
.fs-intro h1,
.fs-characters h2{
  margin-bottom: 1.5rem ;
}

.fs-characters h2{
  color:#fff;
  text-align: center;
  padding: 2rem;
}

.fs-tags{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  gap:1rem;
}

.fs-tag{
  background-color: #2d2378;
  color:#fff;
  margin: 0;
  width: calc((100% - 3.1rem) / 4);
  text-align: center;
}

.fs-chapter-list{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.fs-chapter{
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border: solid 6px #000;
  border-radius: 3px;
}

.fs-chapter a{
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index: 1;
}

.unavailable{
  opacity: .5;
}

.fs-characters{
  background-color: #000;

}

.fs-character h3{
  font-family: "niveau-grotesk-small-caps", sans-serif;
}

.fs-character p{
  font-family: "franklin-gothic-atf";
}

.fs-chapter h3{
  padding: .5rem 0;
  font-family: "niveau-grotesk-small-caps", sans-serif;
}

.fs-img-container img,
.fs-chapter img{
  width: 100%;
}

.fs-img-container{
  max-height: 300px;
  overflow: hidden;
}

.fs-footer{
  position: relative;
  object-fit: cover;
  height: fit-content;
  display: flex;
}

.fs-footer-content{
  position: absolute;
  z-index: 1;
  bottom:0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
  left:50%;
  transform: translateX(-50%);
  
}


.fs-footer-link{
  color:#fff;
  position: relative;
  margin: 1rem;
}

.v-border::after{
  content: "";
  border-right: solid 1px #fff;
  position: absolute;
  right: -1rem;
  height: 100%;
}

/* BLOG STYLES */
.blog-post-container{
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem 0;
}

.blog-title-category{
  display: inline-block;
  padding: .25rem .5rem;
}

.blog-title-main{
  font-size: 4rem;
  margin: 0;
}

.blog-date{
}

.blog-main-img{
  margin-bottom: 1rem;
}

.blog-main-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-main-share{
  display: flex;
  align-items: center;
}

.blog-main-share h4{
  margin-right: 1rem;
}

.blog-main-share-links li{
  background-color: #000;
  padding: .75rem;
  border-radius: 100%;
  display: flex;
  opacity: .8;
  position: relative;
}
.icon-tooltip{
  position: absolute;
  color: #fff;
  background-color: #000;
  top:100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: .5rem;
  border-radius: 5px;
  line-height: 18px;
  transform: translateX(-50%);
  left:50%;
  margin-top: .25rem;
  display: none;
}


.blog-main-share-links li:hover{
  opacity: 1;
  cursor: pointer;
}

.blog-main-content p{
  font-family: 'Roboto', sans-serif;
  max-width: 550px;
  margin-bottom: 1rem;
}

.blog-main-content h2{
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  max-width: 550px;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.blog-main-content .gatsby-image-wrapper{
  margin-bottom:2rem;
}

@media (min-width: 767.98px){

  /* NAVIGATION */
  .header-nav{
    flex-direction: row;
  }

  .header-nav li{
    display: inline-block;
  }
  header label,
  .header-nav input{
    display: none;
  }
  .header-submenu{
    display: block;
  }

  /* HERO IMAGE */

  .main-banner{
    grid-template-columns: .5fr 2fr 3fr;
    grid-template-rows: 1fr auto 1fr;
    height: 600px;
  }

  .banner-image{
    grid-column: 1/4;
    grid-row: 1/4;
    max-height: 720px;
  }
  .banner-content{
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    background: rgb(255,255,255);
    background: none; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    color:#fff;
    padding: 0 1.5rem;
  }
  
  .banner-category,
  .blog-link-button{
    margin: 1rem 0 .5rem 0;
    padding:.25rem .5rem;
  }


  .blog-index-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
    padding: 0 1rem;
  }
  .blog-index-preview{
    width: calc(50% - .5rem);
    margin: 1rem 0;
  }

  .blog-index-preview-content{
    align-items: baseline;
  }

  .blog-index-preview-title,
  .blog-index-preview-description p{
    text-align: left;
  }

  .hero-banner{
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
  }
  
  .banner-image{
    grid-column: 1/ span 3;
    grid-row: 1 /span 3;
  }
  
  .hero-banner-info{
    max-width: 720px;
    background:none;
  }

  .banner-image{
    height: 600px;
  }

  .fs-tags{
    width:55%;
    max-width: 500px;
  }
  
  .fs-tag{
    width: calc((100% - 3.1rem) / 4);
  }

  .fs-chapter{
    width: calc((100% - 1.01rem) / 2)
  }

  .fs-character{
    display: flex;
    gap:20px;
    margin-bottom: 1rem;
  }

  .fs-character-info{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #fff;
    gap:1.5rem;
  }

  .fs-img-container{
    max-height: initial;
    max-width: 300px;
    min-width:300px;
  }

  .comic-list-preview{
    min-width: initial;
    width: calc(50% - (1rem / 2));
  }
}

@media (min-width:992px){
  .comic-list{
    padding: 1rem 2rem;
  }
  .banner-image{
    min-height: 500px;
    max-height: 720px;
  }

  .comic-overview-banner{
    object-fit: cover;
    max-height: 500px;
    overflow: hidden;
  }

  .chapter-preview-list h1{
    margin-top:2rem;
  }

  .hero-banner{
    grid-template-columns: 1fr 3fr 4fr;
    grid-template-rows: 1fr auto 1fr;
  }
  
  .banner-image{
    grid-column: 1/ span 3;
    grid-row: 1 /span 3;
  }
  
  .hero-banner-info{
    grid-column: 2;
    max-width: 720px;
    background: none;
  }

  .fs-chapter{
    width: calc((100% - (1.01rem * 3)) / 4)
  }

  .blog-index-preview{
    width: calc(30%);
    margin: 1rem 0;
  }
  .fs-character{
    display: flex;
    gap:20px;
    margin-bottom: 1rem;
    width: fit-content;
  }

}

@media (min-width:1500px){
  .fs-character-list{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
  }

  .fs-character{
    display: flex;
    gap:20px;
    margin-bottom: 1rem;
    width: fit-content;
    width: calc( 50% - 10px);
    justify-content: space-between;
    align-items: center;
  }
}